*{
    font-family: 'Roboto', sans-serif;

}

header {
    background: black;
    color: white;
}

body {
    background: linear-gradient(to top, rgb(165, 180, 252), rgb(192, 132, 252));
    background-attachment: fixed;
}

img {
    max-width: 200px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    align-items: center;
}

li{
    list-style: none;
}

.quiz-questions, .answer-check, .summary, .high-scores {
    display: none;
}

h2 {
    font-size: 25px;
    font-style: italic;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}

.choice-btn, .submit-btn, .clear-btn, .back-btn {
    background-color: rgb(171, 95, 218);
    color: white;
    border: none;
}
